

//socials
$colorFacebook: #3b5998;
$colorFacebookHover: #2e3c6e;
$colorFacebookText: #f7f7f7;

$colorGooglePlus: #d34836;
$colorGooglePlusHover: #953425;
$colorGooglePlusText: #f7f7f7;

$colorCosplan: #388e3c;
$colorPatreon: #e6461a;

$colorTwitter: #00aced;
$colorYoutube: #cd201f;
$colorInstagram: #c13584;
$colorAsk: #ff6647;
$colorWorldCosplay: #ee3e75;
$colorDeviantArt: #4a584a;
$colorSnapchat: #fffc00;
$colorSnapchatText: #111111;


