
.animated {
    //transition: all ease 0.7s;
}

body {
    line-height: 1.55;
}

body {
    font-family: 'Lato', serif;
    color: $bodyFontColor;
    background: $bodyBackgroundColor;

    font-size: 125%;
    margin: 0;
}

@font-face {
    font-family: 'Lato', serif;
}

h1, h2, h3, h4, h5, a, .title {
    font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
    letter-spacing: 0.17em;
    font-weight: 100;
    font-size: 250%;
    text-transform: uppercase;

    line-height: 1.3;
}

a {
    color: #3a3a3a;
    text-decoration: none;
    line-height: inherit;
    -webkit-transition: color, 0.6s, ease-in;
    -moz-transition: color, 0.6s, ease-in;
    transition: color, 0.6s, ease-in;

    position: relative;
    padding-bottom: .15em;
    display: inline-block;
}

a.active {
    color: #6896ce !important;
}

a:after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #3a3a3a;
    content: '';
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

a:not(.noHover):hover::after,
a:not(.noHover):active::after,
a:not(.noHover):focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

*::selection {
    background: #3a3a3a;
    color: white;
    text-shadow: none;
}

