
$step: 5;

.noMobile {
    @media #{$mobile} {
        display: none !important;
    }
}

@for $i from 1 through 200 {

    // Margin's
    .margin#{$i * $step} {
        margin: #{$i * $step}px;
    }

    .marginTop#{$i * $step} {
        margin-top: #{$i * $step}px;
    }

    .marginBottom#{$i * $step} {
        margin-bottom: #{$i * $step}px;
    }
    .marginLeft#{$i * $step} {
        margin-left: #{$i * $step}px;
    }

    .marginRight#{$i * $step} {
        margin-right: #{$i * $step}px;
    }   

    // Padding's
    .padding#{$i * $step} {
        padding: #{$i * $step}px;
    }

    .paddingTop#{$i * $step} {
        padding-top: #{$i * $step}px;
    }

    .paddingBottom#{$i * $step} {
        padding-bottom: #{$i * $step}px;
    }
    .paddingLeft#{$i * $step} {
        padding-left: #{$i * $step}px;
    }

    .paddingRight#{$i * $step} {
        padding-right: #{$i * $step}px;
    }
}

