@mixin grid($size: 12, $res: 600px) {
    text-align: center;

    .item {
        @include gridItem($size, $res);
    }
}

@mixin gridItem($size: 12, $res: 600px) {
    width: calc(100% / #{$size});

    display: inline-block;
    float: left;

    &:after {
        clear: both;
        display: block;
        content: "";
    }

    @media only screen and (max-width: #{$res}) {
        width: 100%;
    }
}
