
.colorOpt
    color: white
    font-weight: bold
    padding: 5px

select
    width: 100%
    -moz-background-clip: padding
    -moz-border-radius: 0
    -webkit-appearance: menu
    -webkit-background-clip: padding-box
    -webkit-border-radius: 0
    background-clip: padding-box
    border-radius: 0
    border: 1px #d2dfd4 solid
    color: #53585d
    font-size: 15px
    height: 42px
    min-width: 120px
    outline: 0
    padding-left: 5px
    padding-right: 0

    text-rendering: auto

    letter-spacing: normal
    word-spacing: normal
    text-transform: none
    text-indent: 0px

    text-shadow: none
    display: inline-block
    text-align: start
    margin: 0em 0em 0em 0em

