$mRed0: #FCE4EC;
$mRed1: #F8BBD0;
$mRed2: #ef9a9a;
$mRed3: #e57373;
$mRed4: #ef5350;
$mRed5: #f44336;
$mRed6: #e53935;
$mRed7: #d32f2f;
$mRed8: #c62828;
$mRed9: #b71c1c;

$mPink0: #FCE4EC;
$mPink1: #F8BBD0;
$mPink2: #F48FB1;
$mPink3: #F06292;
$mPink4: #EC407A;
$mPink5: #E91E63;
$mPink6: #D81B60;
$mPink7: #C2185B;
$mPink8: #AD1457;
$mPink9: #880e4f;

$mPurple0: #F3E5F5;
$mPurple1: #E1BEE7;
$mPurple2: #CE93D8;
$mPurple3: #BA68C8;
$mPurple4: #AB47BC;
$mPurple5: #9C27B0;
$mPurple6: #8E24AA;
$mPurple7: #7B1FA2;
$mPurple8: #6A1B9A;
$mPurple9: #4A148C;

$mDeepPurple0: #EDE7F6;
$mDeepPurple1: #D1C4E9;
$mDeepPurple2: #B39DDB;
$mDeepPurple3: #9575CD;
$mDeepPurple4: #7E57C2;
$mDeepPurple5: #673AB7;
$mDeepPurple6: #5E35B1;
$mDeepPurple7: #512DA8;
$mDeepPurple8: #4527A0;
$mDeepPurple9: #311B92;

$mIndigo0: #E8EAF6;
$mIndigo1: #C5CAE9;
$mIndigo2: #9FA8DA;
$mIndigo3: #7986CB;
$mIndigo4: #5C6BC0;
$mIndigo5: #3F51B5;
$mIndigo6: #3949AB;
$mIndigo7: #303F9F;
$mIndigo8: #283593;
$mIndigo9: #1A237E;

$mBlue0: #E3F2FD;
$mBlue1: #BBDEFB;
$mBlue2: #90CAF9;
$mBlue3: #64B5F6;
$mBlue4: #42A5F5;
$mBlue5: #2196F3;
$mBlue6: #1E88E5;
$mBlue7: #1976D2;
$mBlue8: #1565C0;
$mBlue9: #0D47A1;

$mLightBlue0: #E1F5FE;
$mLightBlue1: #B3E5FC;
$mLightBlue2: #81D4FA;
$mLightBlue3: #4FC3F7;
$mLightBlue4: #29B6F6;
$mLightBlue5: #03A9F4;
$mLightBlue6: #039BE5;
$mLightBlue7: #0288D1;
$mLightBlue8: #0277BD;
$mLightBlue9: #01579B;

$mCyan0: #E0F7FA;
$mCyan1: #B2EBF2;
$mCyan2: #80DEEA;
$mCyan3: #4DD0E1;
$mCyan4: #26C6DA;
$mCyan5: #00BCD4;
$mCyan6: #00ACC1;
$mCyan7: #0097A7;
$mCyan8: #00838F;
$mCyan9: #006064;

$mCyanA1: #84FFFF;
$mCyanA2: #18FFFF;
$mCyanA4: #00E5FF;
$mCyanA7: #00B8D4;

$mTeal0: #E0F2F1;
$mTeal1: #B2DFDB;
$mTeal2: #80CBC4;
$mTeal3: #4DB6AC;
$mTeal4: #26A69A;
$mTeal5: #009688;
$mTeal6: #00897B;
$mTeal7: #00796B;
$mTeal8: #00695C;
$mTeal9: #004D40;

$mGreen0: #E8F5E9;
$mGreen1: #C8E6C9;
$mGreen2: #A5D6A7;
$mGreen3: #81C784;
$mGreen4: #66BB6A;
$mGreen5: #4CAF50;
$mGreen6: #43A047;
$mGreen7: #388E3C;
$mGreen8: #2E7D32;
$mGreen9: #1B5E20;

$mlGreen0: #f1f8e9;
$mlGreen1: #dcedc8;
$mlGreen2: #c5e1a5;
$mlGreen3: #aed581;
$mlGreen4: #9ccc65;
$mlGreen5: #8bc34a;
$mlGreen6: #7cb342;
$mlGreen7: #689f38;
$mlGreen8: #558b2f;
$mlGreen9: #33691e;

$mLime0: #F9FBE7;
$mLime1: #F0F4C3;
$mLime2: #E6EE9C;
$mLime3: #DCE775;
$mLime4: #D4E157;
$mLime5: #CDDC39;
$mLime6: #C0CA33;
$mLime7: #AFB42B;
$mLime8: #9E9D24;
$mLime9: #827717;

$mYellow0: #fffde7;
$mYellow1: #fff9c4;
$mYellow2: #fff59d;
$mYellow3: #fff176;
$mYellow4: #ffee58;
$mYellow5: #ffeb3b;
$mYellow6: #fdd835;
$mYellow7: #fbc02d;
$mYellow8: #f9a825;
$mYellow9: #f57f17;

$mAmber0: #FFF8E1;
$mAmber1: #FFECB3;
$mAmber2: #FFE082;
$mAmber3: #FFD54F;
$mAmber4: #FFCA28;
$mAmber5: #FFC107;
$mAmber6: #FFB300;
$mAmber7: #FFA000;
$mAmber8: #FF8F00;
$mAmber9: #FF6F00;

$mOrange0: #FFF3E0;
$mOrange1: #FFE0B2;
$mOrange2: #FFCC80;
$mOrange3: #FFB74D;
$mOrange4: #FFA726;
$mOrange5: #FF9800;
$mOrange6: #FB8C00;
$mOrange7: #F57C00;
$mOrange8: #EF6C00;
$mOrange9: #E65100;

$mDeepOrange0: #FBE9E7;
$mDeepOrange1: #FFCCBC;
$mDeepOrange2: #FFAB91;
$mDeepOrange3: #FF8A65;
$mDeepOrange4: #FF7043;
$mDeepOrange5: #FF5722;
$mDeepOrange6: #F4511E;
$mDeepOrange7: #E64A19;
$mDeepOrange8: #D84315;
$mDeepOrange9: #BF360C;

$mBrown0: #EFEBE9;
$mBrown1: #D7CCC8;
$mBrown2: #BCAAA4;
$mBrown3: #A1887F;
$mBrown4: #8D6E63;
$mBrown5: #795548;
$mBrown6: #6D4C41;
$mBrown7: #5D4037;
$mBrown8: #4E342E;
$mBrown9: #3E2723;

// Material Grey
$mGrey0: #FAFAFA;
$mGrey1: #F5F5F5;
$mGrey2: #EEEEEE;
$mGrey3: #E0E0E0;
$mGrey4: #BDBDBD;
$mGrey5: #9E9E9E;
$mGrey6: #757575;
$mGrey7: #616161;
$mGrey8: #424242;
$mGrey9: #212121;

$mBlueGrey0: #ECEFF1;
$mBlueGrey1: #CFD8DC;
$mBlueGrey2: #B0BEC5;
$mBlueGrey3: #90A4AE;
$mBlueGrey4: #78909C;
$mBlueGrey5: #607D8B;
$mBlueGrey6: #546E7A;
$mBlueGrey7: #455A64;
$mBlueGrey8: #37474F;
$mBlueGrey9: #263238;

@mixin hover($name, $color, $dif: -30) {

	&.#{$name} {

		background: $color;

		&:hover {
			background: $color + $dif;
		}
	}
}

@mixin size($size) {
	&[data-styles-size='#{$size}'] {
		font-size: #{$size}px;
		padding: (1px * $size / 3) (3px * $size / 3) (1px * $size / 3);
	}
}

.btn {

	font-family: 'Raleway';

	margin-top: 15px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-left: 10px;

	//margin-top: 15px;
	padding: 5px 15px 5px;

	color: white;

	background: $mGrey6;

	display: inline-block;

	&:hover {
		cursor: pointer;

		background: $mGrey6 - 15;
	}

	&[disabled], &.disabled {
		background: $mGrey1;
		cursor: none;
	}

	@include hover(red, $mRed4);
	@include hover(green, $mGreen4);

	@for $i from 8 through 64 {
		@include size($i)
	}
}


