$buttonBorderSize: 1px;
$buttonFontSize: 0.95em;
$buttonPadding: 4px 12px;
$buttonFontWeight: 400;

$buttonFontFamily: 'Raleway';

$buttonColorModifier: -18;

@mixin buttonColored($colorBackground, $colorBackgroundHover: $colorBackground - 30, $colorText: white) {

	font-family: $buttonFontFamily;

	color: $colorText;
	background: $colorBackground;

	border: $buttonBorderSize transparent solid;

	&:hover, &:active, &:focus {
		background: $colorBackgroundHover;
	}

	&.invert {
		background: $colorText;
		color: $colorBackground;
		border-color: $colorBackground;

		&:hover, &:active, &:focus {
			color: $colorBackgroundHover -15;
			border-color: $colorBackgroundHover - 15;
		}
	}
}

@mixin button {

	margin: 5px;

	display: inline-block;
	font-size: $buttonFontSize;
	font-weight: $buttonFontWeight;

	padding: $buttonPadding;

	text-shadow: none;

	transition: all 0.4s ease;

	@include buttonColored($mIndigo4 + $buttonColorModifier);

	&.red {
		@include buttonColored($mRed4 + $buttonColorModifier);
	}
	&.orange {
		@include buttonColored($mOrange4 + $buttonColorModifier);
	}
	&.amber {
		@include buttonColored($mAmber4 + $buttonColorModifier);
	}
	&.yellow {
		@include buttonColored($mYellow4 + $buttonColorModifier);
	}
	&.green {
		@include buttonColored($mGreen4 + $buttonColorModifier);
	}
	&.lime {
		@include buttonColored($mLime4 + $buttonColorModifier);
	}
	&.cyan {
		@include buttonColored($mCyan4 + $buttonColorModifier);
	}
	&.lightblue {
		@include buttonColored($mLightBlue4 + $buttonColorModifier);
	}
	&.blue {
		@include buttonColored($mBlue4 + $buttonColorModifier);
	}

	&.teal {
		@include buttonColored($mTeal4 + $buttonColorModifier);
	}

	&.purple {
		@include buttonColored($mPurple4 + $buttonColorModifier);
	}

	&.brown {
		@include buttonColored($mBrown4 + $buttonColorModifier);
	}

	&.grey {
		@include buttonColored($mBlueGrey4 + $buttonColorModifier);
	}

	&.black {
		@include buttonColored($mGrey8 + $buttonColorModifier);
	}

	&.accent {
		@include buttonColored($accentColor, $accentColorHover);
	}
	&.facebook {
		@include buttonColored($colorFacebook, $colorFacebookHover, $colorFacebookText);
	}
	&.google {
		@include buttonColored($colorGooglePlus, $colorGooglePlusHover, $colorGooglePlusText);
	}
	&.female {
		@include buttonColored($mPink5);
	}
	&.male {
		@include buttonColored($mIndigo6);
	}

	&.Cosplay {
		@include buttonColored($mDeepPurple7);
	}

	&.Photo {
		@include buttonColored($mAmber7);
	}

	&[disabled], &.disabled {
		cursor: not-allowed;

		@include buttonColored($mGrey5, $mGrey6);
	}

}

.btn, input[type=button], button {
	@include button;
}
