

@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'),
		url('./../fonts/Raleway/Raleway-Regular.ttf') format('ttf');
}


@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	src: local('Muli'),
		url('./../fonts/Muli/Muli-Regular.ttf') format('ttf');
}


