/// Reset Forms

$textPrimaryColor: $mGrey0;

$lightPrimaryColor: $mGrey5;

$dividerColor: $mBlueGrey7;

$bodyWhiteColor: $mGrey1;
$whites: rgb(255, 255, 255);

@mixin inputPlaceholder {
	color: $textPrimaryColor;
	font-weight: bold;
	padding: 2px;
}

//mixins
@mixin formPlaceholderColor($color) {
	::-webkit-input-placeholder {
		color: $color;
	}

	:-moz-placeholder {
		/* Firefox 18- */
		color: $color;
	}

	::-moz-placeholder {
		/* Firefox 19+ */
		color: $color;
	}

	:-ms-input-placeholder {
		color: $color;
	}

}

@mixin formDisabled {
	background: $mGrey7;
	color: $mGrey0;
	cursor: not-allowed;
}

@mixin hoverColor(
	$color ) {
	background: $color !important;

	&:hover, &:focus {
		background: $color - 15 !important;
	}
}

input, textarea, keygen, select, button {
	text-rendering: auto;
	color: initial;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	outline: 0;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	margin: 0em 0em 0em 0em;
	font: 13.3333px Arial;
}

$colorTwitter: #00aced;

.button, .btn {
	&.linkType-1 {
		@include hoverColor($colorFacebook);
	}
	&.linkType-2 {
		@include hoverColor($colorTwitter);
	}
	&.linkType-3 {
		@include hoverColor($colorGooglePlus);
	}
	&.linkType-4 {
		@include hoverColor($colorYoutube);
	}
	&.linkType-5 {
		@include hoverColor($colorFacebook);
	}
	&.linkType-6 {
		@include hoverColor($colorFacebook);
	}
	&.linkType-7 {
		@include hoverColor($colorFacebook);
	}
	&.linkType-8 {
		@include hoverColor($colorFacebook);
	}
	&.linkType-9 {
		@include hoverColor($colorFacebook);
	}
	&.linkType-10 {
		@include hoverColor($colorInstagram);
	}
	&.linkType-11 {
		@include hoverColor($colorAsk);
	}
	&.linkType-12 {
		@include hoverColor($colorSnapchat);
		color: $colorSnapchatText !important;
	}
	&.linkType-20 {
		@include hoverColor($colorWorldCosplay);
	}
	&.linkType-30 {
		@include hoverColor($colorDeviantArt);
	}
}

//@mixin helperColorBtn($name, $color, $hover) {
//	&#{$name} {
//		background: $color !important;
//
//		&:hover, &:active, &:focus {
//			background: $hover !important;
//		}
//
//		&.invert {
//			background: #FFF !important;
//			color: $color !important;
//			border: $color 2px solid;
//		}
//	}
//}

.btnAlt {
	//font-weight: bold;
	text-transform: uppercase;
	display: inline-block;

	margin: 10px 0;
	padding: 10px 15px;

	color: $mGrey8;
	background: transparent !important;

	&:hover {
		color: $mGrey6;
	}

	&.white {
		color: #FFFFFF - 15;
		background: transparent !important;

		&:hover {
			color: white;
		}
	}

}

@include formPlaceholderColor($dividerColor);

// Color variables (appears count calculates by raw css)
$color0: #677584; // Appears 8 times
$color1: #53585d; // Appears 3 times
$color2: #d2dfd4; // Appears 3 times
$color3: #42ab51; // Appears 2 times

// Width variables (appears count calculates by raw css)
// Appears 5 times

form, label, input {
	display: block;
}

form {
	font-size: 11px;
	font-weight: bold;

	.groupTitle {
		font-size: 16px;
		color: $mGreen5;
		margin: 25px 0 10px;

		//text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);

	}

	span.error {
		display: block;
		margin: 5px 0;
		color: red;
	}

	label {
		color: $color0 + 1;
		font-size: 11px;
		font-weight: bold;
		display: block;
		padding-bottom: 5px;
		text-transform: uppercase;

		&.required {
			&:after {
				content: " *";
				color: $mRed4;
			}
		}
	}

	input, textarea {
		border: 1px $color2 solid;

		-moz-background-clip: padding;
		-moz-border-radius: 0;
		-webkit-background-clip: padding-box;
		-webkit-border-radius: 0;
		background-clip: padding-box;
		border-radius: 0;
		font-size: 15px;

		color: $color1;
		padding: 10px;

		width: 100%;
		//margin: 15px;

		display: block;
		position: relative;

		&[disabled], &.disabled, &[readonly] {
			@include formDisabled;
		}

		&::-webkit-input-placeholder {
			color: $color0;
		}
		&:-moz-placeholder {
			color: $color0;
		}
		&::-moz-placeholder {
			color: $color0;
		}
		&:-ms-input-placeholder {
			color: $color0;
		}

		&:focus {
			border-color: $mGreen5;
		}

		&.block {
			display: block;
			position: relative;
			width: 100%;
		}

		&.big {
			font-size: 15px;
			padding: 12px 10px;
		}
	}

	.radioWrap {
		border: 1px #d2dfd4 solid;
		display: block;
		width: 100%;
		padding: 1px;
		height: 42px;
	}

	.radioWrap {
		border: 1px #d2dfd4 solid;
		display: block;
		height: 42px;
		padding: 1px;
		width: 100%;

		input[type="radio"] {
			display: none;
			&:checked + label {
				background-color: $mGreen5;
				color: #fff;
				font-weight: bold;
			}
		}
		label {
			background-color: #fff;
			cursor: pointer;
			display: inline-block;
			float: left;
			font-size: 16px;
			font-weight: normal;
			height: 38px;
			padding: 4px 11px;
			text-align: center;
			text-transform: none;
			width: 50%;
			padding-top: 10px;
		}
	}

	input[type=submit], button {
		//.btn;
		color: $mGreen4;

		margin: 17px 0;
		border: none;
		outline: none;

		width: auto;
		min-width: 150px;
		text-align: center;

	}

	label.checkboxLabel {
		position: relative;

		input[type="checkbox"] {
			content: '';
			position: absolute;
		}
	}

	textarea {
		max-width: 100%;
		min-width: 100%;

		&.autosize {
			transition: all .3s;
			resize: none;
		}

	}

	.select {
		padding: 15px 0;
	}
	select {
		width: 100%;
		-moz-background-clip: padding;
		-moz-border-radius: 0;
		-webkit-appearance: menu;
		-webkit-background-clip: padding-box;
		-webkit-border-radius: 0;
		background-clip: padding-box;
		border-radius: 0;

		border: 1px $color2 solid;
		color: $color1;

		font-size: 15px;
		height: 42px;
		min-width: 120px;
		outline: 0;
		padding-left: 5px;
		padding-right: 0;

		&.block {
			width: 100%
		}

		&[disabled], &.disabled, &[readonly] {
			background: $mGrey7;
			color: $mGrey0;
			cursor: not-allowed;
		}
	}

	.errors {
		padding: 10px 0;

		.error {
			background: #e57373;
			padding: 5px 0;
			margin: 5px 0;
		}
	}

	ul.error {
		li {
			font-size: 12px;
			background: $mRed4;
			color: $bodyWhiteColor;
			padding: 7px;
			margin: 5px 0;
			text-decoration: none;
		}
	}
}

//blah

label {

	&.profileHelperAlias {
		font-weight: normal;
		font-size: 16px;

		color: white !important;

		.aliasWrap {
			color: white !important;
		}

	}

	.aliasWrap {
		color: $mGreen5;
		text-transform: lowercase;
		font-size: 16px;
		font-weight: normal;
		text-decoration: underline;

	}
}

@mixin formDisabled {
	background: $mGrey7;
	color: $mGrey0;
	cursor: not-allowed;
}
