
h1, h2, h3, h4, h5, h6 {
	font-family: $headerFont;

	//text-transform: uppercase;
	letter-spacing: 0.06em;
	//font-weight: 100;
	line-height: 1.3;
}

h1 {
	margin-top: 1.4em;
	margin-bottom: 1.4em - 0.600 - 0.03 * 1;
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em - 0.03 * 1;
}

h3 {
	font-size: 1.4em - 0.03 * 3;
}

h4 {
	font-size: 1.4em - 0.03 * 9;
}

h5 {
	font-size: 1.4em - 0.03 * 16;
}

h6 {
	font-size: 1.4em - 0.03 * 22;
}
