
@import "mixin";
@import "fonts";

@import "button";
@import "form";
@import "list";
@import "text";

@import "heads";


html * {
	font-family: $baseFont;
}

body {
	line-height: $lineHeight;

	color: $bodyFontColor;
	background: $bodyBackgroundColor;

	font-size: 125%;
	margin: 0;
}

.typography {
	margin-top: 5em;

	padding-left: $paddingSize;
	padding-right: $paddingSize;
}

p {
	max-width: 600px;
	width: auto;
}

p, ol, ul {
	margin-top: 0.8em;

	> a {
		color: $linkInParagraphColor;
	}

	img {
		display: block;

		max-width: 100%;

		width: auto;
	}

}

ol, ul {
	margin-left: 2em;
	margin-top: 1.3em;
	margin-bottom: 1.6em;

	li {
		padding-left: 0.5em;
		margin-bottom: 0.5em;
		margin-top: 0.3em;
	}
}
