@import "autoloader";

$transition: all ease;

$black: #0c0f29;

$blue: #0c0f29;


.wrap {
    background: $blue;

    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    position: absolute;

    background-repeat: no-repeat;
    background-position: center;
}


h2 {
    font-size: 1.3em;
    margin-bottom: 10px;
    letter-spacing: 0.15em;
}



.flexWrap {
    display: flex;
    justify-content: center;

    &.spaceBetween {
        justify-content: space-between;
    }
    &.spaceAround {
        justify-content: space-around;
    }
}


.day {

    display: inline-block;

    padding: 10px;
    width: 60px;
    height: 60px;
    border: 4px $black solid;

    border-radius: 8px;

    font-weight: bold;

    text-align: center;
    vertical-align: middle;



    &:hover {
        cursor: pointer;
        background: $black + 90;
        border: 4px solid ($black + 90);
        color: white;
    }

    &.selected {
        background: $black;
        color: white;

        &:hover {
            background: $black + 30;
        border: 4px solid ($black + 30);
        }
    }
}

.cropper {

    margin: auto;

    margin-top: 35px;

    display: block;

    img {
        max-width: 600px;
        max-height: 400px;
    }
}

input[type=text] {
    padding: 3px;
    border: 1px solid grey;
    width: 100%;
}

h3 {
    display: block;
    margin-top: 8px;
    margin-bottom: 10px;
}


.msg {
    &.error {
        background: #e53935;
        color: white;

        font-weight: bold;

        padding: 5px 10px 5px;
    }
}

.result {
    width: 1000px;
    max-width: 100%;

    position: relative;

    img {
        width: 100%;
        height: 100%;
    }

}
