
.wrap {
	display: none;

	transition: all 1s ease-in;

	&.show {
		display: block;
	}
}

.shadow {
	position: fixed;
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;

}

.dialog {
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);

	background: white;
	z-index: 1001;
	max-width: 90%;
	max-height: 90%;

	.content {
		width: 100%;
		min-width: 300px;
		height: 100%;
		min-height: 100px;

	}

}


