<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">

	<title>
		{ifset title}{include title|stripHtml} | {/ifset}
	</title>

	<link href="/assets/styles.css?t={filemtime(DIRECTORY_WWW . '/assets/styles.css')}" rel="stylesheet">
	{*<link href="https://netdna.bootstrapcdn.com/font-awesome/4.7/css/font-awesome.min.css" rel="stylesheet">*}
</head>

<body>
<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

<div id="siteWrap">
	<div id="contentWrap">
		<div id="content">
			{include content}
		</div>
	</div>
</div>

<script src="/assets/bundle.js?t={filemtime(DIRECTORY_WWW . '/assets/bundle.js')}" type="application/javascript"></script>
</body>
</html>
